.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1600px;
    padding: 16px;
    background-color: #f2f2f2;
  }
  
  .header-buttons {
    display: flex;
    gap: 8px;
    margin-top: 64px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    gap: 16px;
    padding: 16px;
}
  .left-column,
  .middle-column,
  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .middle-column .text-area {
    border: 1px solid lightgrey;
    height: 85px;
    width: 250px;
    border-radius: 15px;
    background-color: white;
    padding: 10px 12px;
  }

  .middle-column h2 {
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 700;
  }

  .profile-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pomodoro-button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }

  .settings-button-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
  
  .settings-button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .settings-button:hover {
    transform: scale(1.1);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
    padding: 24px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }