.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
  
  /* Navbar Title */
  .navbar-title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4B5563;
    line-height: 45px; 
  }
  
  .navbar-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #4B5563;
    text-decoration: none;
    transition: color 0.3s ease;
    line-height: 45px; 
  }
  
  /* Navbar Menu */
  .navbar-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 100%; /* Ensure the menu is vertically centered */
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%; /* Ensure the links are vertically centered */
  }
  
  .navbar-link:hover {
    color: #2563EB; 
  }
  
  /* Navbar Profile */
  .navbar-profile {
    margin-left: 1rem;
  }

  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle; /* Vertically center the profile image */
  }